*.o
*.x
*.a
*.mod
make.sys
*.out
*.tar.gz
out*
pwscf.save
old
config.*
*.inc
*.sys
foo
configure.msg
*.swp
CRASH
bin/
*.wfc*
*.wfc
*.mix
*.mix*
*.igk
*.igk* 
*.dat
*.save/*
*.cube
*.cub
tmp.pp
txt
*.xml
