# Please be careful about what you add here.
# In the past important files for compilation have been ignored.
# It is better to be specific.
#
# Add your files here
#
 
 
#
# These are temp files created during compilation
#
FFTXlib/fft_error.o
FFTXlib/fft_interfaces.mod
FFTXlib/fft_interfaces.o
FFTXlib/fft_parallel.mod
FFTXlib/fft_parallel.o
FFTXlib/fft_scalar.mod
FFTXlib/fft_scalar.o
FFTXlib/fft_smallbox.mod
FFTXlib/fft_smallbox.o
FFTXlib/fft_smallbox_type.mod
FFTXlib/fft_smallbox_type.o
FFTXlib/fft_stick.o
FFTXlib/fft_support.mod
FFTXlib/fft_support.o
FFTXlib/fft_types.mod
FFTXlib/fft_types.o
FFTXlib/libqefft.a
FFTXlib/mkl_dft_type.mod
FFTXlib/mkl_dfti.mod
FFTXlib/scatter_mod.mod
FFTXlib/scatter_mod.o
FFTXlib/stick_base.mod
FFTXlib/stick_base.o
FFTXlib/task_groups.mod
FFTXlib/task_groups.o
LAXlib/descriptors.mod
LAXlib/distools.o
LAXlib/dspev_drv.o
LAXlib/dspev_module.mod
LAXlib/la_error.o
LAXlib/la_types.o
LAXlib/libqela.a
LAXlib/parallel_toolkit.mod
LAXlib/ptoolkit.o
LAXlib/transto.o
LAXlib/zhpev_drv.o
LAXlib/zhpev_module.mod
Modules/atom.mod
Modules/atom.o
Modules/atomic_number.o
Modules/autopilot.mod
Modules/autopilot.o
Modules/basic_algebra_routines.mod
Modules/basic_algebra_routines.o
Modules/becmod.mod
Modules/becmod.o
Modules/bfgs_module.mod
Modules/bfgs_module.o
Modules/bspline.mod
Modules/bspline.o
Modules/bz_form.mod
Modules/bz_form.o
Modules/capital.o
Modules/cell_base.mod
Modules/cell_base.o
Modules/check_stop.mod
Modules/check_stop.o
Modules/clocks.o
Modules/command_line_options.mod
Modules/command_line_options.o
Modules/compute_dipole.o
Modules/constants.mod
Modules/constants.o
Modules/constraints_module.mod
Modules/constraints_module.o
Modules/control_flags.mod
Modules/control_flags.o
Modules/coulomb_vcut.o
Modules/coulomb_vcut_module.mod
Modules/cryst_to_car.o
Modules/date_and_tim.o
Modules/deviatoric.o
Modules/dost.o
Modules/dylmr2.o
Modules/electrons_base.mod
Modules/electrons_base.o
Modules/environment.mod
Modules/environment.o
Modules/epcdft.mod
Modules/epcdft_module.o
Modules/erf.o
Modules/error_handler.mod
Modules/error_handler.o
Modules/expint.o
Modules/f90sockets.mod
Modules/fcp_variables.mod
Modules/fcp_variables.o
Modules/fd_gradient.mod
Modules/fd_gradient.o
Modules/fft_base.mod
Modules/fft_base.o
Modules/fft_custom.mod
Modules/fft_custom.o
Modules/find_free_unit.o
Modules/fsockets.o
Modules/funct.mod
Modules/funct.o
Modules/functionals.o
Modules/generate_function.mod
Modules/generate_function.o
Modules/generate_k_along_lines.o
Modules/global_version.mod
Modules/gth.o
Modules/gvecs.mod
Modules/gvect.mod
Modules/gvecw.mod
Modules/gvecw.o
Modules/has_xml.o
Modules/hdf5_qe.mod
Modules/hdf5_qe.o
Modules/inpfile.o
Modules/input_parameters.mod
Modules/input_parameters.o
Modules/int_to_char.o
Modules/invmat.o
Modules/io_base.mod
Modules/io_base.o
Modules/io_files.mod
Modules/io_files.o
Modules/io_global.mod
Modules/io_global.o
Modules/ions_base.mod
Modules/ions_base.o
Modules/kernel_table.mod
Modules/kernel_table.o
Modules/kind.o
Modules/kinds.mod
Modules/latgen.o
Modules/libqemod.a
Modules/libxc.o
Modules/libxc_funcs.o
Modules/libxc_funcs_m.mod
Modules/linpack.o
Modules/london_module.mod
Modules/lsda_functionals.o
Modules/m_gth.mod
Modules/matches.o
Modules/matrix_inversion.mod
Modules/metagga.o
Modules/mm_dispersion.o
Modules/more_functionals.o
Modules/mp.mod
Modules/mp.o
Modules/mp_bands.mod
Modules/mp_bands.o
Modules/mp_bands_tddfpt.mod
Modules/mp_base.o
Modules/mp_diag.mod
Modules/mp_diag.o
Modules/mp_global.mod
Modules/mp_global.o
Modules/mp_images.mod
Modules/mp_images.o
Modules/mp_orthopools.mod
Modules/mp_pools.mod
Modules/mp_pools.o
Modules/mp_wave.mod
Modules/mp_wave.o
Modules/mp_world.mod
Modules/mp_world.o
Modules/mytime.mod
Modules/noncol.o
Modules/noncollin_module.mod
Modules/open_close_input_file.mod
Modules/open_close_input_file.o
Modules/parallel_include.mod
Modules/parallel_include.o
Modules/parameters.mod
Modules/parameters.o
Modules/parser.mod
Modules/parser.o
Modules/paw_variables.mod
Modules/paw_variables.o
Modules/plot_io.o
Modules/plugin_arguments.o
Modules/plugin_flags.mod
Modules/plugin_flags.o
Modules/plugin_variables.mod
Modules/plugin_variables.o
Modules/pseudo_types.mod
Modules/pseudo_types.o
Modules/pw_dot.o
Modules/qes_libs.o
Modules/qes_libs_module.mod
Modules/qes_module.mod
Modules/qes_module.o
Modules/qes_types.o
Modules/qes_types_module.mod
Modules/qexml.o
Modules/qexml_module.mod
Modules/qexsd.o
Modules/qexsd_input.mod
Modules/qexsd_input.o
Modules/qexsd_module.mod
Modules/qexsd_reader_module.mod
Modules/qexsd_reader_module.o
Modules/qmmm.mod
Modules/qmmm.o
Modules/radial_gradients.o
Modules/radial_grids.mod
Modules/radial_grids.o
Modules/random_numbers.mod
Modules/random_numbers.o
Modules/read_cards.o
Modules/read_cards_module.mod
Modules/read_input.mod
Modules/read_input.o
Modules/read_namelists.o
Modules/read_namelists_module.mod
Modules/read_ncpp.o
Modules/read_pseudo.o
Modules/read_pseudo_mod.mod
Modules/read_upf_v1.o
Modules/read_upf_v1_module.mod
Modules/read_upf_v2.o
Modules/read_upf_v2_module.mod
Modules/read_uspp.o
Modules/read_uspp_module.mod
Modules/read_xml.o
Modules/read_xml_cards.o
Modules/read_xml_cards_module.mod
Modules/read_xml_fields.o
Modules/read_xml_fields_module.mod
Modules/read_xml_module.mod
Modules/recips.o
Modules/recvec.o
Modules/recvec_subs.mod
Modules/recvec_subs.o
Modules/remove_tot_torque.o
Modules/rgen.o
Modules/run_info.mod
Modules/run_info.o
Modules/rvv10.mod
Modules/set_hubbard_l.o
Modules/set_hubbard_n.o
Modules/set_signal.mod
Modules/set_signal.o
Modules/setqf.o
Modules/simpsn.o
Modules/sort.o
Modules/space_group.mod
Modules/space_group.o
Modules/sph_bes.o
Modules/sph_dbes.o
Modules/splinelib.mod
Modules/splinelib.o
Modules/test_input_file.o
Modules/time_step.mod
Modules/timestep.o
Modules/trimcheck.o
Modules/tsvdw.o
Modules/tsvdw_module.mod
Modules/upf.o
Modules/upf_module.mod
Modules/upf_to_internal.mod
Modules/upf_to_internal.o
Modules/uspp.mod
Modules/uspp.o
Modules/uspp_param.mod
Modules/vdw_df.mod
Modules/version.f90
Modules/version.o
Modules/volume.o
Modules/w0gauss.o
Modules/w1gauss.o
Modules/wannier_gw.mod
Modules/wannier_gw.o
Modules/wannier_new.mod
Modules/wannier_new.o
Modules/wave_base.mod
Modules/wave_base.o
Modules/wavefunctions.o
Modules/wavefunctions_module.mod
Modules/wgauss.o
Modules/wrappers.mod
Modules/wrappers.o
Modules/write_upf_v2.o
Modules/write_upf_v2_module.mod
Modules/ws_base.mod
Modules/ws_base.o
Modules/wy_pos.mod
Modules/wypos.o
Modules/xc_f90_lib_m.mod
Modules/xc_f90_types_m.mod
Modules/xc_rVV10.o
Modules/xc_vdW_DF.o
Modules/xml_input.mod
Modules/xml_input.o
Modules/xml_io_base.mod
Modules/xml_io_base.o
Modules/xsf.o
Modules/ylmr2.o
Modules/zdotc_wrapper.o
Modules/zvscal.o
PW/src/a2f.mod
PW/src/a2fmod.o
PW/src/acfdt_ener.mod
PW/src/acfdt_in_pw.o
PW/src/add_bfield.o
PW/src/add_efield.o
PW/src/add_epcdft_efield.o
PW/src/add_monofield.o
PW/src/add_paw_to_deeq.o
PW/src/add_qexsd_step.o
PW/src/add_vhub_to_deeq.o
PW/src/add_vuspsi.o
PW/src/addusdens.o
PW/src/addusforce.o
PW/src/addusstress.o
PW/src/allocate_fft.o
PW/src/allocate_locpot.o
PW/src/allocate_nlpot.o
PW/src/allocate_wfc.o
PW/src/atomic_rho.o
PW/src/atomic_wfc.o
PW/src/atomic_wfc_mod.o
PW/src/average_pp.o
PW/src/basis.mod
PW/src/bp.mod
PW/src/bp_c_phase.o
PW/src/bp_calc_btq.o
PW/src/bp_mod.o
PW/src/bp_qvan3.o
PW/src/bp_strings.o
PW/src/buffers.mod
PW/src/buffers.o
PW/src/buiol.mod
PW/src/c_bands.o
PW/src/c_phase_field.o
PW/src/ccgdiagg.o
PW/src/cdiagh.o
PW/src/cdiaghg.o
PW/src/cegterg.o
PW/src/cellmd.mod
PW/src/clean_pw.o
PW/src/close_files.o
PW/src/compute_becsum.o
PW/src/compute_deff.o
PW/src/compute_dip.o
PW/src/compute_qdipol.o
PW/src/compute_qdipol_so.o
PW/src/compute_rho.o
PW/src/compute_ux.o
PW/src/coset.o
PW/src/d_matrix.o
PW/src/data_structure.o
PW/src/data_structure_custom.o
PW/src/deriv_drhoc.o
PW/src/dfunct.mod
PW/src/divide.o
PW/src/divide_class.o
PW/src/divide_class_so.o
PW/src/divide_et_impera.o
PW/src/dqvan2.o
PW/src/drhoc.o
PW/src/dvloc_of_g.o
PW/src/dynamics_module.mod
PW/src/dynamics_module.o
PW/src/efermig.o
PW/src/efermit.o
PW/src/electrons.o
PW/src/ener.mod
PW/src/epcdft.o
PW/src/eqvect.o
PW/src/esm.mod
PW/src/esm.o
PW/src/esm_cft.mod
PW/src/esm_cft.o
PW/src/ewald.o
PW/src/ewald_dipole.o
PW/src/extfield.mod
PW/src/extrapolation.mod
PW/src/exx.mod
PW/src/exx.o
PW/src/fcp.mod
PW/src/fcp.o
PW/src/find_group.o
PW/src/fixed_occ.mod
PW/src/force_cc.o
PW/src/force_corr.o
PW/src/force_ew.o
PW/src/force_hub.o
PW/src/force_lc.o
PW/src/force_mod.mod
PW/src/force_us.o
PW/src/forces.o
PW/src/forces_bp_efield.o
PW/src/g2_kin.o
PW/src/g_psi.o
PW/src/g_psi_mod.mod
PW/src/g_psi_mod.o
PW/src/gen_at_dj.o
PW/src/gen_at_dy.o
PW/src/gen_us_dj.o
PW/src/gen_us_dy.o
PW/src/generate_rVV10_kernel_table.o
PW/src/generate_rVV10_kernel_table.x
PW/src/generate_vdW_kernel_table.o
PW/src/generate_vdW_kernel_table.x
PW/src/get_locals.o
PW/src/gk_sort.o
PW/src/gradcorr.o
PW/src/gweights.o
PW/src/h_1psi.o
PW/src/h_epsi_her_apply.o
PW/src/h_epsi_her_set.o
PW/src/h_psi.o
PW/src/h_psi_meta.o
PW/src/hinit0.o
PW/src/hinit1.o
PW/src/init_at_1.o
PW/src/init_ns.o
PW/src/init_q_aeps.o
PW/src/init_run.o
PW/src/init_us_0.o
PW/src/init_us_1.o
PW/src/init_us_2.o
PW/src/init_us_b0.o
PW/src/init_vloc.o
PW/src/input.o
PW/src/interpolate.o
PW/src/io_rho_xml.mod
PW/src/io_rho_xml.o
PW/src/irrek.o
PW/src/iweights.o
PW/src/klist.mod
PW/src/kpoint_grid.o
PW/src/ktetra.mod
PW/src/lchk_tauxk.o
PW/src/ldaU.o
PW/src/ldau.mod
PW/src/libpw.a
PW/src/lsda_mod.mod
PW/src/make_pointlists.o
PW/src/makov_payne.o
PW/src/manypw.o
PW/src/manypw.x
PW/src/martyna_tuckerman.mod
PW/src/martyna_tuckerman.o
PW/src/memory_report.o
PW/src/mix_rho.o
PW/src/move_ions.o
PW/src/multable.o
PW/src/n_plane_waves.o
PW/src/new_ns.o
PW/src/new_occ.o
PW/src/newd.o
PW/src/non_scf.o
PW/src/ns_adj.o
PW/src/offset_atom_wfc.o
PW/src/one_atom_wfc.o
PW/src/openfil.o
PW/src/orbm_kubo.o
PW/src/ortho_wfc.o
PW/src/orthoatwfc.o
PW/src/output_tau.o
PW/src/para.o
PW/src/paw_exx.mod
PW/src/paw_exx.o
PW/src/paw_init.mod
PW/src/paw_init.o
PW/src/paw_onecenter.mod
PW/src/paw_onecenter.o
PW/src/paw_symmetry.mod
PW/src/paw_symmetry.o
PW/src/plugin_clean.o
PW/src/plugin_clock.o
PW/src/plugin_ext_forces.o
PW/src/plugin_init_cell.o
PW/src/plugin_init_ions.o
PW/src/plugin_init_potential.o
PW/src/plugin_initbase.o
PW/src/plugin_initialization.o
PW/src/plugin_int_forces.o
PW/src/plugin_print_energies.o
PW/src/plugin_read_input.o
PW/src/plugin_scf_energy.o
PW/src/plugin_scf_potential.o
PW/src/plugin_summary.o
PW/src/plus_u_full.o
PW/src/potinit.o
PW/src/print_clock_pw.o
PW/src/print_ks_energies.o
PW/src/punch.o
PW/src/pw.x
PW/src/pw2blip.mod
PW/src/pw2blip.o
PW/src/pw2casino.o
PW/src/pw2casino_write.o
PW/src/pw_init_qexsd_input.o
PW/src/pw_restart.mod
PW/src/pw_restart.o
PW/src/pw_restart_new.mod
PW/src/pw_restart_new.o
PW/src/pwcom.mod
PW/src/pwcom.o
PW/src/pwscf.o
PW/src/qvan2.o
PW/src/rap_point_group.mod
PW/src/rap_point_group_is.mod
PW/src/rap_point_group_so.mod
PW/src/rcgdiagg.o
PW/src/rdiagh.o
PW/src/rdiaghg.o
PW/src/read_conf_from_file.o
PW/src/read_file.o
PW/src/read_file_new.o
PW/src/realus.mod
PW/src/realus.o
PW/src/regterg.o
PW/src/relax.mod
PW/src/remove_atomic_rho.o
PW/src/report_mag.o
PW/src/restart_in_electrons.o
PW/src/rho2zeta.o
PW/src/rotate_wfc.o
PW/src/rotate_wfc_gamma.o
PW/src/rotate_wfc_k.o
PW/src/run_driver.o
PW/src/run_pwscf.o
PW/src/ruotaijk.o
PW/src/s_1psi.o
PW/src/s_psi.o
PW/src/save_in_cbands.o
PW/src/save_in_electrons.o
PW/src/scale_h.o
PW/src/scf.mod
PW/src/scf_mod.o
PW/src/set_kplusq.o
PW/src/set_kup_and_kdw.o
PW/src/set_rhoc.o
PW/src/set_vrs.o
PW/src/setlocal.o
PW/src/setup.o
PW/src/sph_ind.o
PW/src/spin_orb.mod
PW/src/spinor.o
PW/src/start_k.mod
PW/src/start_k.o
PW/src/stop_run.o
PW/src/stres_cc.o
PW/src/stres_ewa.o
PW/src/stres_gradcorr.o
PW/src/stres_har.o
PW/src/stres_hub.o
PW/src/stres_knl.o
PW/src/stres_loc.o
PW/src/stres_nonloc_dft.o
PW/src/stres_us.o
PW/src/stress.o
PW/src/struct_fact.o
PW/src/sum_band.o
PW/src/sumkg.o
PW/src/sumkt.o
PW/src/summary.o
PW/src/symm_base.mod
PW/src/symm_base.o
PW/src/symme.mod
PW/src/symme.o
PW/src/symmetrize_at.o
PW/src/tabd.o
PW/src/transform_becsum_nc.o
PW/src/transform_becsum_so.o
PW/src/transform_qq_so.o
PW/src/trnvecc.o
PW/src/tweights.o
PW/src/update_pot.o
PW/src/us.mod
PW/src/us_exx.mod
PW/src/us_exx.o
PW/src/usnldiag.o
PW/src/v_of_rho.o
PW/src/vcsmd.o
PW/src/vcsubs.o
PW/src/vhpsi.o
PW/src/vloc_of_g.o
PW/src/vloc_psi.o
PW/src/vlocal.mod
PW/src/wannier_check.o
PW/src/wannier_clean.o
PW/src/wannier_enrg.o
PW/src/wannier_init.o
PW/src/wannier_occ.o
PW/src/wannier_proj.o
PW/src/weights.o
PW/src/wfcinit.o
PW/src/write_ns.o
PW/src/wsweight.o
PW/src/wvfct.mod
PW/src/wyckoff.mod
PW/src/wyckoff.o
PW/src/xdm_dispersion.o
PW/src/xdm_module.mod
PW/tools/dist.o
PW/tools/dist.x
PW/tools/ev.o
PW/tools/ev.x
PW/tools/ev_xml.mod
PW/tools/ev_xml.o
PW/tools/kpoints.o
PW/tools/kpoints.x
PW/tools/pwi2xsf.o
PW/tools/pwi2xsf.x
S3DE/
bin/
clib/c_mkdir.o
clib/clib.a
clib/copy.o
clib/cptimer.o
clib/customize_signals.o
clib/eval_infix.o
clib/indici.o
clib/md5.o
clib/md5_from_file.o
clib/memstat.o
clib/ptrace.o
clib/qmmm_aux.o
clib/qsort.o
clib/sockets.o
clib/stack.o
feedlog
include/c_defs.h
include/configure.h
include/fft_defs.h
install/config.log
install/config.status
install/configure.msg
install/make_lapack.inc
install/make_wannier90.inc
iotk
make.inc
